*.xlsx
*.docx
*.pol
*.cmtx
*.inf
*.admx
*.adm
audit.csv
manifest.xml
Backup.xml
bkupInfo.xml
gpreport.xml
!/test/example_files/*
!/test/example_files/*/*
MissingRecommendations.txt
RecommendationErrors.ps1
RecommendationErrors.txt
coverage.xml
testResults.xml
*.bak*