# Ensure that CIS documentation and group policy objects are not commited outside the example_files directory
!/test/example_files/*
!/test/example_files/*/*
*.xlsx
*.docx
*.cmtx
*.inf
*.admx
*.adm
audit.csv
manifest.xml
Backup.xml
bkupInfo.xml
gpreport.xml

# Input files from CIS
cis_files

# Exports from CISDSCResourceGeneration
MissingRecommendations.csv
RecommendationErrors.txt

# Exports from Pester
coverage.xml
testResults.xml
Output/

# Exports from Plaster
*.bak*
