name: ScriptAnalyzer

on: [pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: Install-Module -Name 'PSScriptAnalyzer' -Force -SkipPublisherCheck
      shell: pwsh
    - name: ScriptAnalyzer DSCResources
      run: Invoke-ScriptAnalyzer -Path '.\src\CISDSC\DSCResources' -Recurse -EnableExit -SaveDscDependency
      shell: pwsh
      - name: ScriptAnalyzer CISDSCResourceGeneration
      run: Invoke-ScriptAnalyzer -Path '.\src\CISDSCResourceGeneration' -Recurse -EnableExit -SaveDscDependency
      shell: pwsh
